*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


.box {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  position: relative;
  background-color:white;
}

.display {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
input {
    height: 5vh;
    border:2px solid black;
    margin: 10px;
    color: black;
    font-weight: 700;
    padding-left: 10px;

}
input::placeholder{
    color: black;
}


.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(47deg, #ff6161 1%, #0061ff 100% );
    transform: translate3d(-2px, 7px, 0) scale(1.15);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
#btn {
    padding-top: 8px;
}  
        
.icon{
    font-size: 30px;
    border: none;
    background-color: white;
    padding-inline: 5px;
}